@import url("https://use.typekit.net/akl3toe.css");
a {
  font-size: 1rem;
  font-family: "poppins";
  color: #c7bbc8;
}

body {
  background-color: #fef9f3;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
/* ------style portrætbillede til cv ---------*/

.p {
  font-family: "poppins";
}
