@import url("https://use.typekit.net/akl3toe.css");
.nav,
ul,
li {
  font-weight: 3rem;
  font-family: "poppins";
  color: #081337;
}
header {
  color: #5d5149;
  font-family: "poppins";
}
body {
  background-color: #fef9f3;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.image_conainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  width: 100%;
}
a {
  font-size: 1rem;
  font-family: "poppins";
  color: #c7bbc8;
}

.button1 {
  background-color: #081337;
  border: none;
  color: #f0d4ec;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.baggrundsfarve {
  background-color: #f0e9d4;
  padding: 1rem;
  margin-top: 2rem;
}
.cookie {
  width: 50%;
}
