@import url("https://use.typekit.net/akl3toe.css");
.nav,
ul,
li {
  font-weight: 3rem;
  font-family: "poppins";
  color: rgb(8, 19, 55);
}

body {
  background-color: #fef9f3;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.image_conainer {
  width: 100%;
}

img {
  width: 100%;
}
a {
  font-size: 1rem;
  font-family: "poppins";
  color: #c7bbc8;
}
