@import url("https://use.typekit.net/akl3toe.css");
.nav,
ul,
li {
  font-weight: 3rem;
  font-family: "poppins";
  color: #081337;
}
header {
  color: #5d5149;
  font-family: "poppins";
}
body {
  background-color: #fef9f3;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.image_conainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  width: 100%;
}
a {
  font-size: 1rem;
  font-family: "poppins";
  color: #c7bbc8;
}

/* .box {
  width: 200px;
  height: 70px;
  font-family: sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: white;
}
.static {
  background-color: #081337;
} */
