@font-face {
  font-family: myFont;
  src: url(../05_font/arialRoundedBold.ttf);
  font-weight: bold;
}

body {
  background-color: rgba(196, 210, 218, 0.788);
}

header {
  display: flex;
  position: sticky;
  top: auto;
  top: 0%;
  justify-content: center;
}
nav {
  color: rgb(10, 10, 37);
}
